In [1]:
# 用于将下载的csv文件合并、转换成h5文件

In [2]:
# 导入包
import pandas as pd
import numpy as np
import h5py
import multiprocessing
import os

In [3]:
# 参数设置
time_start = '201901' #时间格式，必须全为数字
time_end = '201912'
folder_path = "./Download" # 源数据
h5_file_name = 'NYC_Bike.csv' # h5 文件名称
h5_path = './raw_bike_data/' # 目标路径
h5_file = h5_path + h5_file_name
multiprocessing.cpu_count()

16

In [7]:

# 设置文件夹路径
folder_path = "./Download"
# 使用os.walk()函数遍历文件夹中的所有文件
csv_files = []
for root, dirs, files in os.walk(folder_path):
    print('要合并的文件有:')
    for filename in files:
        # 打印文件路径
        year_month = filename[:6]
        if int(year_month) >= int(time_start) and int(year_month) <= int(time_end):
            file_path = os.path.join(root, filename)
            # print(file_path)
            csv_files.append(file_path)
            csv_files = sorted(csv_files)
print(csv_files)

要合并的文件有:
['./Download/201901-citibike-tripdata.csv', './Download/201902-citibike-tripdata.csv', './Download/201903-citibike-tripdata.csv', './Download/201904-citibike-tripdata.csv', './Download/201905-citibike-tripdata.csv', './Download/201906-citibike-tripdata.csv', './Download/201907-citibike-tripdata.csv', './Download/201908-citibike-tripdata.csv', './Download/201909-citibike-tripdata.csv', './Download/201910-citibike-tripdata.csv', './Download/201911-citibike-tripdata.csv', './Download/201912-citibike-tripdata.csv']

In [8]:
# 多进程读取CSV文件

num_processes = multiprocessing.cpu_count()

def preprocess_nyc_bike(csv_file):
    df = pd.read_csv(csv_file)
    drop_columns = ['tripduration','start station id','start station name','end station id','end station name','bikeid','usertype','birth year','gender']
    df.drop(drop_columns,axis=1,inplace=True)
    df.columns = ['stime','etime','slat','slon','elat','elon']
    return df

with multiprocessing.Pool(num_processes) as pool:
    dfs = pool.map(preprocess_nyc_bike, csv_files)

In [9]:
dfs

[                           stime                     etime       slat  \
 0       2019-01-01 00:01:47.4010  2019-01-01 00:07:07.5810  40.778968
 1       2019-01-01 00:04:43.7360  2019-01-01 00:10:00.6080  40.751873
 2       2019-01-01 00:06:03.9970  2019-01-01 00:15:55.4380  40.785247
 3       2019-01-01 00:07:03.5450  2019-01-01 00:52:22.6500  40.732219
 4       2019-01-01 00:07:35.9450  2019-01-01 00:12:39.5020  40.727434
 ...                          ...                       ...        ...
 967282  2019-01-31 17:33:26.4490  2019-01-31 17:38:17.8940  40.668132
 967283  2019-01-31 18:57:45.3380  2019-01-31 19:05:02.4970  40.668132
 967284  2019-01-31 19:11:41.1930  2019-01-31 19:14:34.3350  40.668132
 967285  2019-01-31 20:54:51.1440  2019-01-31 20:58:55.3100  40.668132
 967286  2019-01-31 23:38:42.1770  2019-01-31 23:45:09.4520  40.668132

              slon       elat       elon
 0      -73.973747  40.788221 -73.970416
 1      -73.977706  40.747804 -73.973442
 2      -73.976673  40.773142 -73.958562
 3      -73.981656  40.738046 -73.996430
 4      -73.993790  40.738274 -73.987520
 ...           ...        ...        ...
 967282 -73.973638  40.661063 -73.979453
 967283 -73.973638  40.666318 -73.985462
 967284 -73.973638  40.675021 -73.971115
 967285 -73.973638  40.675147 -73.975232
 967286 -73.973638  40.678045 -73.962408

 [967287 rows x 6 columns],
                            stime                     etime       slat  \
 0       2019-02-01 00:00:06.2570  2019-02-01 00:03:46.1090  40.797911
 1       2019-02-01 00:00:28.0320  2019-02-01 00:02:51.7460  40.727791
 2       2019-02-01 00:01:13.9870  2019-02-01 00:06:10.7340  40.676368
 3       2019-02-01 00:01:14.1520  2019-02-01 00:09:12.7870  40.748901
 4       2019-02-01 00:01:49.3410  2019-02-01 00:05:34.4980  40.763094
 ...                          ...                       ...        ...
 943739  2019-02-28 23:59:43.3860  2019-03-01 00:16:02.7620  40.716887
 943740  2019-02-28 23:59:48.2220  2019-03-01 00:12:47.5150  40.727434
 943741  2019-02-28 23:59:48.6480  2019-03-01 00:11:28.5880  40.747348
 943742  2019-02-28 23:59:59.2640  2019-03-01 00:04:43.6880  40.741022
 943743  2019-02-28 23:59:55.0050  2019-03-01 00:04:34.9450  40.751726

              slon       elat       elon
 0      -73.942300  40.801487 -73.944251
 1      -73.985649  40.728419 -73.987140
 2      -73.952918  40.678045 -73.962408
 3      -73.976049  40.756405 -73.990026
 4      -73.978350  40.761330 -73.979820
 ...           ...        ...        ...
 943739 -73.963198  40.723077 -73.985836
 943740 -73.993790  40.751873 -73.977706
 943741 -73.997236  40.733143 -73.975739
 943742 -74.001385  40.750585 -73.994685
 943743 -73.987535  40.751551 -73.993934

 [943744 rows x 6 columns],
                             stime                     etime       slat  \
 0        2019-03-01 00:00:16.0970  2019-03-01 00:24:39.3880  40.711066
 1        2019-03-01 00:00:32.3850  2019-03-01 00:05:18.1830  40.726281
 2        2019-03-01 00:00:47.7970  2019-03-01 00:12:14.3090  40.747659
 3        2019-03-01 00:01:01.2090  2019-03-01 00:08:23.7510  40.725256
 4        2019-03-01 00:01:09.2810  2019-03-01 00:49:42.3810  40.749156
 ...                           ...                       ...        ...
 1327955  2019-03-31 23:59:30.5850  2019-04-01 00:05:21.7850  40.777554
 1327956  2019-03-31 23:59:55.3410  2019-04-01 00:32:18.6920  40.762272
 1327957  2019-03-31 23:59:50.1810  2019-04-01 00:08:25.8330  40.808625
 1327958  2019-03-31 23:59:56.6520  2019-04-01 00:10:57.3760  40.790254
 1327959  2019-03-31 23:59:58.0230  2019-04-01 00:02:10.5920  40.722992

               slon       elat       elon
 0       -74.009447  40.728846 -74.008591
 1       -73.989780  40.720874 -73.980858
 2       -73.984907  40.725256 -74.004121
 3       -74.004121  40.716021 -73.999744
 4       -73.991600  40.743349 -74.006818
 ...            ...        ...        ...
 1327955 -73.955128  40.786995 -73.941648
 1327956 -73.987882  40.760094 -73.994618
 1327957 -73.959621  40.810285 -73.957365
 1327958 -73.977183  40.802692 -73.962950
 1327959 -73.979955  40.726218 -73.983799

 [1327960 rows x 6 columns],
                             stime                     etime       slat  \
 0        2019-04-01 00:00:14.7410  2019-04-01 00:01:42.8900  40.765909
 1        2019-04-01 00:00:20.8270  2019-04-01 00:07:44.2920  40.735324
 2        2019-04-01 00:00:30.9960  2019-04-01 00:11:33.2610  40.731437
 3        2019-04-01 00:00:30.9110  2019-04-01 00:01:56.9600  40.747659
 4        2019-04-01 00:00:32.5930  2019-04-01 00:02:49.3910  40.735877
 ...                           ...                       ...        ...
 1766089  2019-04-30 23:59:33.7520  2019-05-01 00:08:10.1700  40.684157
 1766090  2019-04-30 23:59:35.0850  2019-05-01 00:06:50.4610  40.726218
 1766091  2019-04-30 23:59:40.1050  2019-05-01 00:09:04.3660  40.738046
 1766092  2019-04-30 23:59:43.2650  2019-05-01 00:10:58.6670  40.685396
 1766093  2019-04-30 23:59:50.8000  2019-05-01 00:29:15.0230  40.730386

               slon       elat       elon
 0       -73.976342  40.765909 -73.976342
 1       -73.998004  40.743116 -73.982154
 2       -73.994903  40.731437 -73.994903
 3       -73.984907  40.745168 -73.986831
 4       -73.982050  40.732219 -73.981656
 ...            ...        ...        ...
 1766089 -73.969223  40.689622 -73.983043
 1766090 -73.983799  40.718502 -73.983299
 1766091 -73.996430  40.726218 -73.983799
 1766092 -73.974315  40.678045 -73.962408
 1766093 -74.002150  40.732241 -74.000264

 [1766094 rows x 6 columns],
                             stime                     etime       slat  \
 0        2019-05-01 00:00:01.9010  2019-05-01 00:02:21.5170  40.763707
 1        2019-05-01 00:00:03.0210  2019-05-01 00:12:37.6920  40.750182
 2        2019-05-01 00:00:04.6270  2019-05-01 00:38:33.1710  40.717452
 3        2019-05-01 00:00:19.3340  2019-05-01 00:02:42.5200  40.688417
 4        2019-05-01 00:00:22.1840  2019-05-01 00:02:40.6480  40.749718
 ...                           ...                       ...        ...
 1924558  2019-05-31 23:59:45.5760  2019-06-01 00:04:50.4620  40.777480
 1924559  2019-05-31 23:59:46.4650  2019-06-01 00:05:11.1630  40.733812
 1924560  2019-05-31 23:59:51.5060  2019-06-01 00:31:58.3920  40.716250
 1924561  2019-05-31 23:59:52.4170  2019-06-01 00:34:00.1970  40.743534
 1924562  2019-05-31 23:59:55.5500  2019-06-01 00:15:59.8680  40.734546

               slon       elat       elon
 0       -73.985162  40.765849 -73.986905
 1       -74.002184  40.750585 -73.994685
 2       -73.958509  40.675833 -74.014726
 3       -73.984517  40.685376 -73.983021
 4       -74.002950  40.747348 -73.997236
 ...            ...        ...        ...
 1924558 -73.982886  40.765849 -73.986905
 1924559 -73.980544  40.741444 -73.975361
 1924560 -74.009106  40.770513 -73.988038
 1924561 -74.003676  40.705693 -74.016777
 1924562 -73.990741  40.723077 -73.985836

 [1924563 rows x 6 columns],
                             stime                     etime       slat  \
 0        2019-06-01 00:00:01.5000  2019-06-01 00:05:31.7600  40.763154
 1        2019-06-01 00:00:04.2400  2019-06-01 00:13:55.1470  40.689493
 2        2019-06-01 00:00:06.0190  2019-06-01 00:06:26.7790  40.727434
 3        2019-06-01 00:00:06.7760  2019-06-01 00:19:22.5380  40.706237
 4        2019-06-01 00:00:07.5200  2019-06-01 00:17:42.5580  40.756014
 ...                           ...                       ...        ...
 2125365  2019-06-30 23:59:32.8920  2019-07-01 00:03:25.6310  40.730260
 2125366  2019-06-30 23:59:33.6990  2019-07-01 00:07:31.0440  40.727408
 2125367  2019-06-30 23:59:47.4050  2019-07-01 00:04:48.1850  40.794165
 2125368  2019-06-30 23:59:51.5980  2019-07-01 00:14:58.3210  40.740343
 2125369  2019-06-30 23:59:54.3670  2019-07-01 00:21:05.2750  40.732690

               slon       elat       elon
 0       -73.920827  40.755733 -73.923661
 1       -73.942061  40.698568 -73.918877
 2       -73.993790  40.729538 -73.984267
 3       -73.933871  40.720368 -73.961651
 4       -73.967416  40.774925 -73.982666
 ...            ...        ...        ...
 2125365 -73.953940  40.723117 -73.952123
 2125366 -73.981420  40.720747 -73.986274
 2125367 -73.974124  40.794067 -73.962868
 2125368 -73.989551  40.719261 -73.981780
 2125369 -73.989740  40.729538 -73.984267

 [2125370 rows x 6 columns],
                             stime                     etime       slat  \
 0        2019-07-01 00:00:00.1320  2019-07-01 00:14:58.0040  40.756800
 1        2019-07-01 00:00:05.1780  2019-07-01 00:04:32.4500  40.776321
 2        2019-07-01 00:00:05.2130  2019-07-01 00:36:46.7490  40.724537
 3        2019-07-01 00:00:08.6010  2019-07-01 00:27:48.8050  40.718710
 4        2019-07-01 00:00:12.1580  2019-07-01 00:02:01.5670  40.805973
 ...                           ...                       ...        ...
 2181059  2019-07-31 23:59:45.2950  2019-08-01 00:10:29.8640  40.686919
 2181060  2019-07-31 23:59:52.7170  2019-08-01 00:09:42.0870  40.788390
 2181061  2019-07-31 23:59:52.8280  2019-08-01 00:21:35.1090  40.711731
 2181062  2019-07-31 23:59:57.1130  2019-08-01 00:05:50.1350  40.750585
 2181063  2019-07-31 23:59:57.4870  2019-08-01 00:04:32.2070  40.757632

               slon       elat       elon
 0       -73.982912  40.754557 -73.965930
 1       -73.964274  40.782750 -73.971370
 2       -73.981854  40.731814 -73.959950
 3       -74.009001  40.732241 -74.000264
 4       -73.964928  40.802692 -73.962950
 ...            ...        ...        ...
 2181059 -73.976682  40.686744 -73.990632
 2181060 -73.974700  40.774667 -73.984706
 2181061 -73.991930  40.714979 -74.013012
 2181062 -73.994685  40.739355 -73.999318
 2181063 -73.969306  40.763126 -73.965269

 [2181064 rows x 6 columns],
                             stime                     etime       slat  \
 0        2019-08-01 00:00:01.4680  2019-08-01 00:06:35.3780  40.718939
 1        2019-08-01 00:00:01.9290  2019-08-01 00:10:29.7840  40.686919
 2        2019-08-01 00:00:04.0480  2019-08-01 00:18:56.1650  40.702551
 3        2019-08-01 00:00:04.1630  2019-08-01 00:29:44.7940  40.760193
 4        2019-08-01 00:00:05.4580  2019-08-01 00:25:23.4550  40.781721
 ...                           ...                       ...        ...
 2344219  2019-08-31 23:59:46.2930  2019-09-01 00:03:23.0360  40.741776
 2344220  2019-08-31 23:59:47.7970  2019-09-01 00:01:45.7440  40.685068
 2344221  2019-08-31 23:59:48.1560  2019-09-01 00:26:42.7760  40.712733
 2344222  2019-08-31 23:59:58.3620  2019-09-01 00:21:39.7040  40.784727
 2344223  2019-08-31 23:59:59.4520  2019-09-01 00:06:59.0210  40.763707

               slon       elat       elon
 0       -73.992663  40.710762 -73.994004
 1       -73.976682  40.686744 -73.990632
 2       -73.989402  40.682800 -73.999904
 3       -73.991255  40.721101 -73.991925
 4       -73.945940  40.781721 -73.945940
 ...            ...        ...        ...
 2344219 -74.001497  40.745497 -74.001971
 2344220 -73.977908  40.685396 -73.974315
 2344221 -74.004607  40.692418 -73.989495
 2344222 -73.969617  40.765849 -73.986905
 2344223 -73.985162  40.757570 -73.990985

 [2344224 rows x 6 columns],
                             stime                     etime       slat  \
 0        2019-09-01 00:00:01.9580  2019-09-01 00:05:29.3410  40.730563
 1        2019-09-01 00:00:04.1430  2019-09-01 00:19:09.8360  40.682915
 2        2019-09-01 00:00:07.3090  2019-09-01 00:21:40.7580  40.784727
 3        2019-09-01 00:00:08.0640  2019-09-01 00:29:21.5040  40.788130
 4        2019-09-01 00:00:12.8510  2019-09-01 00:10:26.1850  40.746201
 ...                           ...                       ...        ...
 2444895  2019-09-30 23:59:22.7670  2019-10-01 00:28:47.3180  40.793770
 2444896  2019-09-30 23:59:27.9270  2019-10-01 00:05:46.5700  40.709560
 2444897  2019-09-30 23:59:29.1450  2019-10-01 00:08:50.8070  40.727064
 2444898  2019-09-30 23:59:42.2520  2019-10-01 00:04:54.2320  40.724308
 2444899  2019-09-30 23:59:55.3740  2019-10-01 00:24:55.8400  40.711731

               slon       elat       elon
 0       -73.973984  40.732219 -73.981656
 1       -73.993182  40.693083 -73.971789
 2       -73.969617  40.765849 -73.986905
 3       -73.952060  40.778968 -73.973747
 4       -73.988557  40.760301 -73.998842
 ...            ...        ...        ...
 2444895 -73.971888  40.780184 -73.977285
 2444896 -74.006536  40.715338 -74.016584
 2444897 -73.996621  40.722992 -73.979955
 2444898 -74.004730  40.718822 -73.995960
 2444899 -73.991930  40.739445 -73.976806

 [2444900 rows x 6 columns],
                             stime                     etime       slat  \
 0        2019-10-01 00:00:05.6180  2019-10-01 00:08:52.9430  40.724308
 1        2019-10-01 00:00:15.8750  2019-10-01 00:03:10.1680  40.791956
 2        2019-10-01 00:00:19.8240  2019-10-01 00:12:59.7070  40.729170
 3        2019-10-01 00:00:21.0680  2019-10-01 00:10:36.6790  40.735324
 4        2019-10-01 00:00:26.3800  2019-10-01 00:13:08.3130  40.729170
 ...                           ...                       ...        ...
 2092568  2019-10-31 23:59:12.1900  2019-11-01 00:11:21.4860  40.730473
 2092569  2019-10-31 23:59:17.0470  2019-11-01 00:10:02.9450  40.749370
 2092570  2019-10-31 23:59:22.5140  2019-11-01 00:03:40.2600  40.752269
 2092571  2019-10-31 23:59:23.1710  2019-11-01 00:07:09.2050  40.724055
 2092572  2019-10-31 23:59:51.5170  2019-11-01 00:01:13.2150  40.715348

               slon       elat       elon
 0       -74.004730  40.737815 -73.999947
 1       -73.968087  40.788221 -73.970416
 2       -73.998102  40.738177 -73.977387
 3       -73.998004  40.756405 -73.990026
 4       -73.998102  40.738177 -73.977387
 ...            ...        ...        ...
 2092568 -73.986724  40.717227 -73.988021
 2092569 -73.999234  40.735877 -73.982050
 2092570 -73.982079  40.749013 -73.988484
 2092571 -74.009660  40.716059 -73.991908
 2092572 -73.960241  40.717452 -73.958509

 [2092573 rows x 6 columns],
                             stime                     etime       slat  \
 0        2019-11-01 00:00:00.2930  2019-11-01 00:04:34.1880  40.730473
 1        2019-11-01 00:00:03.5840  2019-11-01 00:02:43.4780  40.756913
 2        2019-11-01 00:00:06.2670  2019-11-01 00:16:14.0990  40.742388
 3        2019-11-01 00:00:21.7610  2019-11-01 00:10:25.8910  40.733320
 4        2019-11-01 00:00:25.2060  2019-11-01 00:02:59.0180  40.697842
 ...                           ...                       ...        ...
 1478703  2019-11-30 23:59:07.8070  2019-12-01 00:08:01.9840  40.723180
 1478704  2019-11-30 23:59:14.4120  2019-12-01 00:03:43.6630  40.805159
 1478705  2019-11-30 23:59:26.4970  2019-12-01 00:10:35.2200  40.710762
 1478706  2019-11-30 23:59:28.5170  2019-12-01 00:06:58.7670  40.754666
 1478707  2019-11-30 23:59:50.4100  2019-12-01 00:13:22.3840  40.750664

               slon       elat       elon
 0       -73.986724  40.729039 -73.994046
 1       -73.921631  40.756933 -73.926223
 2       -73.997262  40.757570 -73.990985
 3       -73.995101  40.727408 -73.981420
 4       -73.926241  40.696760 -73.923020
 ...            ...        ...        ...
 1478703 -73.994800  40.720828 -73.977932
 1478704 -73.954692  40.801194 -73.950074
 1478705 -73.994004  40.717821 -73.976289
 1478706 -73.991382  40.751873 -73.977706
 1478707 -74.001768  40.732916 -74.007114

 [1478708 rows x 6 columns],
                            stime                     etime       slat  \
 0       2019-12-01 00:00:05.5640  2019-12-01 00:10:07.8180  40.680611
 1       2019-12-01 00:00:10.9630  2019-12-01 00:20:17.8820  40.751726
 2       2019-12-01 00:00:11.8180  2019-12-01 00:12:14.8310  40.716250
 3       2019-12-01 00:00:12.2200  2019-12-01 00:06:56.8860  40.694670
 4       2019-12-01 00:00:14.7230  2019-12-01 00:17:54.1860  40.762288
 ...                          ...                       ...        ...
 955205  2019-12-31 23:58:18.0160  2019-12-31 23:59:51.6360  40.765005
 955206  2019-12-31 23:58:59.8960  2020-01-01 00:12:06.3460  40.751551
 955207  2019-12-31 23:59:03.6950  2020-01-01 00:04:54.8730  40.672968
 955208  2019-12-31 23:59:21.3610  2020-01-01 00:25:32.9420  40.732264
 955209  2019-12-31 23:59:55.2960  2020-01-01 00:05:05.7270  40.786995

              slon       elat       elon
 0      -73.994758  40.668127 -73.983776
 1      -73.987535  40.762288 -73.983362
 2      -74.009106  40.736197 -74.008592
 3      -73.906630  40.685650 -73.915640
 4      -73.983362  40.798186 -73.960591
 ...           ...        ...        ...
 955205 -73.958185  40.761227 -73.960940
 955206 -73.993934  40.768254 -73.988639
 955207 -73.970880  40.672815 -73.983524
 955208 -73.998522  40.693261 -73.968896
 955209 -73.941648  40.790305 -73.947558

 [955210 rows x 6 columns]]

In [10]:
# 合并dataframe并写入h5文件
df = pd.concat(dfs)
df.to_csv('raw_bike_data/NYC_Bike.csv',index=False)
df

,stime,etime,slat,slon,elat,elon
0,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,40.778968,-73.973747,40.788221,-73.970416
1,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,40.751873,-73.977706,40.747804,-73.973442
2,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,40.785247,-73.976673,40.773142,-73.958562
3,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,40.732219,-73.981656,40.738046,-73.996430
4,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,40.727434,-73.993790,40.738274,-73.987520
...,...,...,...,...,...,...
955205,2019-12-31 23:58:18.0160,2019-12-31 23:59:51.6360,40.765005,-73.958185,40.761227,-73.960940
955206,2019-12-31 23:58:59.8960,2020-01-01 00:12:06.3460,40.751551,-73.993934,40.768254,-73.988639
955207,2019-12-31 23:59:03.6950,2020-01-01 00:04:54.8730,40.672968,-73.970880,40.672815,-73.983524
955208,2019-12-31 23:59:21.3610,2020-01-01 00:25:32.9420,40.732264,-73.998522,40.693261,-73.968896
955209,2019-12-31 23:59:55.2960,2020-01-01 00:05:05.7270,40.786995,-73.941648,40.790305,-73.947558